.contato{
   text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
  background: url('img/img.png') no-repeat center center scroll;
  padding-top: 1em;
  padding-bottom: 1em;
  //height: 46em;

}

#contact-title{
  font-family: $fonte-padrao;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 2.7em;
  padding-bottom: 0.9em;
}

#contact-description{
  font-family: $fonte-padrao;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.contact-form{

}

.input-contact-form{
  font-family: $fonte-padrao;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c8c5c5;
  background-color: rgba(0, 0, 0, 0.5);
  width: 547px;
  bottom: 3em;
}

.contact-button{
  background: transparent;
  border: solid 1px #ffffff;
  font-family: $fonte-padrao;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  position: relative;
  color: #fff;
  margin-left: 2em;
  width: 6em;
}

//fomr

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

.form-control{
  background: transparent;
}
form {
  width: 320px;
  margin: 20px;
}
form > div {
  position: relative;
  overflow: hidden;
}
form input, form textarea {
  width: 100%;
  //border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form input:valid, form textarea:valid {
  background: white;
}
form input:focus, form textarea:focus {
  border-color: #357EBD;
}
form input:focus + label, form textarea:focus + label {
  background: #357EBD;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label {
  -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
  font-weight: normal;
}
form textarea {
  display: block;
  resize: vertical;
}
form.go-bottom input, form.go-bottom textarea {
  padding: 12px 12px 12px 12px;
}
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}
form.go-right label {
  border-radius: 0 5px 5px 0;
  height: 100%;
  top: 0;
  right: 100%;
  width: 100%;
  margin-right: -100%;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}