.products{
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: #FFFFFF;
  height: auto;
  padding-top: 3em;
}

.grid-products{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-top: 6em;
}

.grid-products p{
  flex: 1;
}

#produtos-title-section{
  font-family: $fonte-padrao;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  padding-top: 2.7em;
  padding-bottom: 0.9em;
}

#produtos-description-section{
  font-family: $fonte-padrao;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
  padding-bottom: 3em;
}
.products-btn li{
  list-style: none;
  display: block;
  font-family: $fonte-padrao;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.products-shop{
  padding-bottom: $distancia-padrao-entre-elementos-doshop;
}

.rectangle {
  width: 135px;
  height:33px;
  background-color: #ffffff;
  border: solid 1px #e64b44;
}

.rectangle1 {

  background-color: #e64b44;
  border: solid 1px #e64b44;
  width: 135px;
  height: 33px;
}

.ativado{
  background-color: #e64b44;
  border: solid 1px #e64b44;
  width: 135px;
  height: 33px;
  color: #ffffff;
}

.products-img{
  width: 100%;
  height: 275px;
  border: solid 2px #979797;
}

.products-shop p{
  font-family: $fonte-secundaria;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  text-shadow: 0 1px 0 #ffffff;
  padding-top: 1em;
}

.products-name{

}

.products-cart-btn{
  font-family: $fonte-secundaria;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  text-shadow: 0 1px 0 #ffffff;

  border-radius: 6px;
  background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 var(--white);
  border: solid 1px #979797;
}
