
section {
  padding: 75px 0;
  background-color: #d14850;
  height:320px;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

section img{

  }

section h3{
  font-family: $fonte-padrao;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

section p{
  font-family: $fonte-padrao;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 2em;
  margin-right: 2em;
}

.service-item{

  border-radius: 4px;
  border: solid 1px #ffffff;
  width: 67%;
  margin-left: 3em;

}